{% extends 'base.html' %}

{% block content %}
<style>@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
</style>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                   <h1 class="main_text">
                  Registration
                   </h1>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="username" style="color: aquamarine;"><b>Username</b></label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password" style="color: aquamarine;"><b>Password</b></label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password" style="color: aquamarine;"><b>Repeat password</b></label>
                            <input type="password" id="password" name="password_return" class="form-control" required>
                        </div>
                        <br>
                        <div class="container text-center">
                        <button type="submit" style=" --bs-btn-padding-y: 0.4rem; --bs-btn-padding-x: 6rem; --bs-btn-font-size: 1rem;
                      color: aquamarine; border: 3px solid aquamarine; font-family:'Archivo Black';" class="btn btn-dark">
                            submit
                        </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container mt-5 text-center">
        <div class="row justify-content-center">
        <div class="col-md-6">
    {% for cat, msg in get_flashed_messages(True) %}
        <div id ="popup" class="flash {{cat}}"><h3><b>{{msg}}</b></h3></div>
    {% endfor %}
        </div>
    </div>
</div>

    <script src="../static/script_for_flash.js"></script>
{% endblock %}